@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Universal  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

}

:root {

    --btn-color: #BAFF39;
    --bg-color: #495E57;
    --text-color: #FFFFFF;
    --border-radius-size: 10px;
}

*::selection {
    color: black;
    background-color: var(--btn-color);
}

body {
    background-color: rgb(240, 235, 235);
    margin: 3rem 5%;
}

a {

    display: block;

    text-decoration: none;
    color: var(--text-color);

    padding: 0.5rem;
    border-radius: 0.5rem;

}

a:hover {
    color: black;
    background-color: var(--btn-color);
    transition: all 0.5s;
}
p::first-letter{
    color: var(--btn-color);
    font-size:1.5rem;
}

/* Header section */
header img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    max-height: 200px;
}

/* Navigation Section */
nav {
    background-color: var(--bg-color);
    margin: 1rem 0;
    border-radius: var(--border-radius-size);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem 3rem;
    flex-wrap: wrap;

    padding: 0.5rem;


    list-style: none;
    font-size: 1.5rem;

}

/* Promotion Section */


.promotion-section {
    min-height: 300px;
    border-radius: var(--border-radius-size);

    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url("./Images/promotion-image.jpg");

    background-size: cover;
    background-position: 0 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

    color: var(--text-color);
    padding: 1rem;

}
.promotion-section article h1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
}
.promotion-section article p{
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0;
}



.promotion-section article h1 span {
    font-size: 2.5rem;
    animation: change-color 1s linear infinite alternate;
}
@keyframes change-color {
    from {
        color:var(--btn-color);
    }

    to {
        color: var(--bg-color);
    }
}
